<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="skhu.artview.mapper.AnswerMapper">

	<select id="findAllQ" resultType="Answer">
		<bind name="start" value="(pg - 1) * sz" />
		SELECT q.*, u.name "Username"
		FROM answer q LEFT JOIN user u ON q.user_id==u.id
		WHERE q.type='answer'
		LIMIT ${start}, ${sz}
	</select>


	<select id="findOne" resultType="Answer">
		SELECT * FROM answer WHERE id =
		#{id}
	</select>
	<select id="findByQuestion_id" resultType="Answer">
		SELECT * FROM answer WHERE
		question_id = #{question_id}
	</select>

	<select id="findByBoardId" resultType="Answer">
		SELECT * FROM answer WHERE
		boardId = #{board_id}
	</select>

	<select id="findByUserId" resultType="Answer">
		SELECT * FROM answer WHERE
		userId = #{user_id}
	</select>

	<select id="findByUsername" resultType="Answer">
		SELECT q.*, u.name
		"username" FROM answer q
		LEFT JOIN user u ON q.user_id = u.id
		WHERE
		u.name = #{keyword}
	</select>

	<select id="findByTitle" resultType="Answer">
		SELECT * FROM answer WHERE
		title LIKE CONCAT('%', #{keyword}, '%')
	</select>

	<select id="findByContent" resultType="Answer">
		SELECT * FROM answer WHERE
		content LIKE CONCAT('%', #{keyword}, '%')
	</select>

	<select id="findByTitleAndContent" resultType="Answer">
		SELECT * FROM
		answer WHERE title LIKE CONCAT('%', #{keyword}, '%')
		or content LIKE
		CONCAT('%', #{keyword}, '%')
	</select>

	<insert id="insertQ" useGeneratedKeys="true" keyProperty="id">
		INSERT
		answer (board_id, user_id, title, content, date, type)
		VALUES (#{board_id}, #{user_id}, #{title}, #{content}, now(), 'answer')
	</insert>

	<insert id="insertA" useGeneratedKeys="true" keyProperty="id">
		INSERT
		answer (question_id, user_id, title, content, file_id, date, type)
		VALUES (#{question_id}, #{user_id}, #{title}, #{content}, #{file_id}, now(), 'answer')
	</insert>



	<update id="updateQ">
		UPDATE answer SET title = #{title}, context =
		#{content}
		WHERE id = #{id} and type='answer'
	</update>


	<update id="updateA">
		UPDATE answer SET title = #{title}, context =
		#{content}
		WHERE id = #{id} and type = 'answer'
	</update>

	<delete id="delete">
		DELETE FROM answer WHERE id = #{id}
	</delete>

</mapper>