<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="skhu.artview.mapper.ArticleMapper">
	<!--
	<select id="findAllByBoard" resultType="Article">
	    <bind name="start" value="(pg - 1) * sz" />
	    SELECT a.*, u.name "userName" 
	    FROM article a LEFT JOIN user u ON a.art_u_id=u.id
	    WHERE a.art_b_id = #{bd} AND a.condition=0
	    LIMIT ${start}, ${sz}
	</select>
	-->

	<select id="findOne" resultType="Article">
		SELECT * FROM article WHERE id = #{id}
	</select>



	<select id="findAllWithComments" resultMap="resultMap1">
		SELECT a.*,c.id
		comment_id, c.content comment_content, c.login_id comment_writer, c.date 
		FROM article
		a LEFT JOIN comment c ON a.id = c.article_id
		LEFT JOIN user u On a.user_id = u.id
		
		
		where c.login_id =#{u.login_id}
	</select>
	
	<resultMap id="resultMap1" type="Article">
		<id property="id" column="id" />
		<result property="title" column="title"/>
		<result property="board_id" column="board_id" />
		<collection property="comments" ofType="Comment">
			<id property="id" column="comment_id" />
			<result property="content" column="comment_content" />
			<result property="login_id" column="comment_writer" />
		</collection>
		
	</resultMap>
	
	<select id="findAll" resultType="Article">
		SELECT * FROM article
	</select>
	
	<select id="findByBoard_id" resultType="Article">
		SELECT * FROM article WHERE board_id = #{board_id}
	</select>
	
	<select id="findByUser_id" resultType="Article">
		SELECT * FROM article WHERE user_id = #{user_id}
	</select>
	
	<select id="findByUserName" resultType="Article">
		SELECT a.* FROM article
		LEFT JOIN user u ON a.user_id = u.id
		WHERE u.name = #{keyword}
	</select>
	
	<select id="findByTitle" resultType="Article">
		SELECT * FROM article WHERE title LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<select id="findByContent" resultType="Article">
		SELECT * FROM article WHERE content LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<select id="findByTitleAndContent" resultType="Article">
		SELECT * FROM article WHERE title LIKE CONCAT('%', #{keyword}, '%')
		AND content LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT article (board_id, user_id, title, content, date)
	  	VALUES (#{board_id}, #{user_id}, #{title}, #{content}, now())
	</insert>
	
	<update id="update">
		UPDATE article SET title = #{title}, context = #{content}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
	    DELETE FROM article WHERE id = #{id}
	</delete>

</mapper>