<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="skhu.artview.mapper.CommentMapper">

	<select id="findOne" resultType="Comment">
		SELECT c.*, u.name
		FROM comment c
		JOIN user u
		on c.user_id = u.id
		WHERE id = #{id}
	</select>

	<select id="findByUserId" resultType="Comment">
		SELECT c.*, u.name
		FROM comment c
		JOIN user u
		on c.user_id = u.id
		WHERE user_id = #{user_id}
	</select>
	
	<select id="findByArticleId" resultType="Comment">
		SELECT c.*, u.name
		FROM comment c
		JOIN user u
		on c.user_id = u.id
		WHERE article_id = #{article_id}
	</select>
	
	<select id="findAll" resultType="Comment">
		SELECT * FROM comment
	</select>
	
	<insert id="insertComment" useGeneratedKeys="true" keyProperty="id">
		INSERT comment (article_id, user_id, content, date)
	  	VALUES (#{article_id}, #{user_id}, #{content}, now())
	</insert>
	
	<insert id="insertRate" useGeneratedKeys="true" keyProperty="id">
		INSERT comment (space_id, user_id, content, rate, date)
	  	VALUES (#{sapce_id}, #{user_id}, #{content}, #{rate}, now())
	</insert>
	
	<update id="updateContext">
		UPDATE comment SET content = #{content}
		WHERE id = #{id}
	</update>
	
	<update id="updateRate">
		UPDATE comment SET rate = #{rate}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
	    DELETE FROM comment WHERE id = #{id}
	</delete>

</mapper>