<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="skhu.artview.mapper.ProjectMapper">

	<select id="findOne" resultType="Project">
		SELECT * FROM project WHERE id = #{id}
	</select>

	<select id="findAll" resultType="Project">
		SELECT * FROM project
		where id =id
		<if test="sb==1"> And title  like concat('%',#{st},'%')</if>
		<if test="sb==2"> And fav_day_start &gt;=To_DATE(#{st}, 'yyyy-mm-dd') </if>
		
		
	</select>
	
	<select id="findByUserName" resultType="Project">
		SELECT p.* FROM project
		LEFT JOIN user u ON p.author_id = u.id
		WHERE u.name = #{keyword}
	</select>
	
	<select id="findByTitle" resultType="Project">
		SELECT * FROM project WHERE title LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<select id="findByContent" resultType="Project">
		SELECT * FROM project WHERE content LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<select id="findByTitleAndContent" resultType="Project">
		SELECT * FROM project WHERE title LIKE CONCAT('%', #{keyword}, '%')
		AND content LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<insert id="insertTest" useGeneratedKeys="true" keyProperty="id">
		INSERT project (title, content, dead_line, fav_start_date, fav_end_date, artfield_id, district_id)
	  	VALUES (#{title}, #{content}, #{dead_line}, #{fav_start_date}, #{fav_end_date}, #{artfield_id}, #{district_id})
	</insert>
	
	<delete id="delete">
	    DELETE FROM project WHERE id = #{id}
	</delete>

</mapper>
