<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="skhu.artview.mapper.SpaceMapper">

	<select id="findOne" resultType="Contract">
		SELECT *
		FROM space
		WHERE id = #{id}
	</select>

	<select id="findByCityId" resultType="Contract">
		SELECT s.* , c.name
		FROM space
		LEFT JOIN city c
		WHERE city_id = #{city_id}
	</select>
	
	<select id="findByProviderId" resultType="Contract">
		SELECT s.* , c.name
		FROM space
		LEFT JOIN city c
		WHERE provider_id = #{provider_id}
	</select>
	
	
	<select id="findByCost" resultType="Contract">
		SELECT s.* , c.name
		FROM space
		LEFT JOIN city c
		WHERE cost = #{cost}
	</select>
	
	
	<select id="findAll" resultType="Contract">
		<bind name="start" value="(pg-1)*sz"/>
		SELECT s.*, c.name
		FROM space s 
		Left join city c 
		where id=id
		<if test="sb==1"> And s.name like concat('%',#{st},'%')</if>
		<if test="sb==2"> And c.name like concat('%',#{st},'%')</if>
		<if test="sb==3"> And  nation_nm like concat('%',#{st},'%')</if>
			<choose>
				<when test="cost==1">And s.cost BETWEEN #{min} And #{max}</when>
				<otherwise></otherwise>
			</choose>
		
		Order By
			<choose>
				<when test="ob==1">s.cost asc</when>
				<when test="ob==2">s.cost desc</when>
				
				<otherwise>s.name asc</otherwise>
			</choose>
			LIMIT ${start},${sz}
		
		
	</select>
	
	<select id ="count" resultType ="int">
		Select Count(id)
		from space where id= id
		<if test="sb==1"> And s.name like concat('%',#{st},'%')</if>
		<if test="sb==2"> And c.name like concat('%',#{st},'%')</if>
		<if test="sb==3"> And  nation_nm like concat('%',#{st},'%')</if>
			<choose>
				<when test="cost==1">And s.cost BETWEEN #{min} And #{max}</when>
				<otherwise></otherwise>
			</choose>
		</select>
	
	
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT space (city_id, provider_id, cost, unavailable, equipment,address)
	  	VALUES (#{city_id}, #{provider_id}, #{cost}, #{unavailable}, #{equipment}, #{address})
	</insert>
	
	
	
	<update id="updateCityId">
		UPDATE space SET city_id = #{city_id}
		WHERE id = #{id}
	</update>
	
	<update id="updateProviderId">
		UPDATE space SET provider_id = #{provider_id}
		WHERE id = #{id}
	</update>
	
	<update id="updateCost">
		UPDATE space SET cost = #{cost}
		WHERE id = #{id}
	</update>
	
	<update id="updateUnavailable">
		UPDATE space SET unavailable = #{unavailable}
		WHERE id = #{id}
	</update>
	<update id="updateAddress">
		UPDATE space SET address = #{address}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
	    DELETE FROM space WHERE id = #{id}
	</delete>

</mapper>